* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: gray;
}

.navbar-toggler {
    color: black;
}

.offcanvas-header {
    background-color: gray;
}

.offcanvas-body {
    background-color: rgb(226, 217, 217);
}

#logo {
    height: 100px;
}

.container-fluid h2 {
    font-style: italic;
    font-weight: bolder;
    color: black;
}


/* nav bar complet */